table{
    border-collapse: collapse;
    width: 100%;
}
 th, td{
    border-bottom:1px solid black;
}

th{
    height: 34px;
    width: fit-content;
    background-color: lawngreen;
}
td{
    text-align: center;
    height: 25px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
